# Framework
Flask>=3.0.0
Flask-SQLAlchemy>=3.1.1
Flask-Login>=0.6.3
Flask-Migrate>=4.0.5
Flask-WTF>=1.2.1
Flask-Babel>=4.0.0

# ORM y BD
SQLAlchemy>=2.0.23
alembic>=1.13.0

# Tareas asíncronas
celery>=5.3.6
redis>=5.0.1

# API y datos
requests>=2.31.0
pandas>=2.1.4

# Formularios y validación
WTForms>=3.1.1
email-validator>=2.1.0

# Seguridad y config
Werkzeug>=3.0.1
python-dotenv>=1.0.0

# Servidor
gunicorn>=21.2.0

# Pruebas y Cobertura
pytest>=7.4.0
pytest-cov>=4.1.0
selenium>=4.16.0
webdriver-manager>=4.0.1


